<head prefix="dc: http://purl.org/dc/terms/ og: http://ogp.me/ns#">
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
<title>{{ page.title }}</title>   

<meta name="author" content="{{ site.author.name }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% include metadata.html %}

<!-- Le styles -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/octicons.css" rel="stylesheet" />    
<link href="/assets/css/sticky_footer.css" rel="stylesheet" type="text/css">
<link href="/assets/css/print.css" rel="stylesheet" type="text/css" media="print">
</head>



